<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<div class="panel panel-default">
				<planning-table topic-enabled="vm.topicInProgress"
								topic="vm.topic" 
								is-host="vm.isHost" 
								participants="vm.participantPoints"
								show-points="vm.showPoints"></planning-table>
			</div>
			<div class="panel panel-default">
				<participant-panel ng-if="!vm.isHost" topic="vm.topic" pointing-enabled="vm.pointingEnabled"></participant-panel>
				<host-panel ng-if="vm.isHost" topic="vm.topic"></host-panel>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<user-info user="vm.userName"></user-info>
			</div>
			<div class="panel panel-default">
				<participant-list participants="vm.participants"></participant-list>
			</div>
		</div>
	</div>
</div>